.audio-container.has-image {
  position: relative;
}

.audio-container.has-image .obw-audio-button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.audio-container .obw-audio-button, .audio-container .obw-image {
  pointer-events: none;
}

.audio-container .obw-audio-button {
  padding: 10px;
  color: #ffffff;
  font-size: 20px;
}

.audio-container.audio-active .obw-audio-button i:before {
  content: "\f028";
}

@media (min-width: 992px) {
  .audio-container {
    cursor: pointer;
  }
}

.audio-container .header-audio-button {
  pointer-events: none;
}

.audio-button-container {
  font-size: 17px;
  font-weight: 900;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 2px;
  background-color: #333333;
  max-width: 175px;
  padding: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 10px;
}

.audio-button-container .audio-actions, .audio-button-container .audio-duration, .audio-button-container .audio-progress {
  pointer-events: none;
}

.audio-button-container .audio-source {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.audio-button-container .audio-actions, .audio-button-container .audio-duration {
  position: relative;
  z-index: 2;
}

.audio-button-container .audio-actions .audio-icon {
  width: 13px;
  display: none;
}

.audio-button-container .audio-actions path {
  fill: #ffffff;
}

.audio-button-container .audio-actions .audio-text {
  display: inline-block;
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.77);
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.audio-button-container .audio-actions .audio-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio-button-container .audio-duration {
  color: rgba(255, 255, 255, 0.77);
  padding-left: 10px;
  opacity: .4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.audio-button-container .audio-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 10%;
  background-color: #D44D23;
  pointer-events: none;
}

.audio-button-container.audio-init .audio-text-play, .audio-button-container.audio-init .audio-icon-play {
  display: inline-block;
}

.audio-button-container.audio-active .audio-text-pause, .audio-button-container.audio-active .audio-icon-pause {
  display: inline-block;
}

.audio-button-container.audio-pause .audio-text-resume, .audio-button-container.audio-pause .audio-icon-resume {
  display: inline-block;
}

.Theme-NavigationBar .Theme-Navigation-ItemList .Navigation__item.Theme-ActiveNavigationBarItem {
  background-color: #F56E33;
}

@media (min-width: 1100px) {
  .Theme-NavigationBarItem.Theme-ActiveNavigationBarItem, .Theme-NavigationBarItem:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.Theme-Header .Navigation__hamburger:hover {
  background-color: transparent;
}

.Theme-NavigationBar {
  top: 98px;
}

@media (min-width: 900px) {
  .Theme-NavigationBar {
    top: 98px;
  }
}
/*# sourceMappingURL=main.css.map */