* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #34495e;
	font-size: 16px;
	color: #333333;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}

.container {
	min-height: 100vh;
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: column;
	color: #ffffff;
}

.container h1 {
	font-size: 4rem;
	margin: 3rem 0;
}

#canvas {
	background-color: #ecf0f1;
	border-radius: 5px;
}
