header.yem-header
	.container-fluid
		.logo-box
			img.logo(src='./img/logo-white.png' alt='logo-yem')
		.heading-primary
			h1.heading-primary-text.heading-primary-main Outdoors
			span.heading-primary-text.heading-primary-sub is where life happens
